/* this is sidebar scroll with content */
/* .App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #fff;
  color: #000;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #fff;
}

.sidebar-header h3 {
  color: #000;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #000;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.nav-item{
  margin-left: 8px;
}

.nav-item:hover {
  color: #fff;
  background: #000;
  border-radius: 10px;

}
.nav-item:active {
  color: #fff;
  background: #000;
  border-radius: 10px;

}

.items-menu {
  color: #fff;
  background: #fff;
  padding: 5px;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}


.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
}

@media only screen and (max-width: 500px) {
  body {
    overflow: auto;
  }

  .content.is-open {
    margin-left: 100%;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
} */

/* this is sidebar scroll without content */
.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.sidebar {
  overflow-x: auto;
  position: fixed;
  min-width: 250px;
  max-width: 250px;
  background: #fff;
  color: #000;
  margin-left: -500px;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #fff;
}

.sidebar-header h3 {
  color: #000;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #000;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.nav-item{
  margin-left: 8px;
}

.nav-item:hover {
  color: #fff;
  background: #000;
  border-radius: 10px;
}
.nav-item:active {
  color: #fff;
  background: #000;
  border-radius: 10px;
}

.items-menu {
  color: #fff;
  background: #fff;
  padding: 5px;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

.content {
  padding: 20px;
  height: 100vh;
  overflow-x: hidden;
}
.content.is-open{
  margin-left: 250px;
  transition: 0.5s;
}

@media only screen and (max-width: 500px) {
  body {
    overflow: auto;
  }

  .content.is-open {
    margin-left: 0;
  }

  .sidebar.is-open {
    min-width: 80%;
    max-width: 100%;
    z-index: 999;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}
